<?xml version="1.0"?>

<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find flypulator_description)/urdf/hexarotor_igs.urdf" />
  <param
    name="use_gui"
    value="True" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find flypulator_description)/Hexacopter_igs.rviz" />
</launch>
